#title{
    color: red;
}
.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
  }
.testimageandresult {
    background-color: gray;
}
h5 {
background-color: white;
border-radius: 20px;
padding: 10px;
font-size: 20px;
}
span{
    color: red;
}
img {
    border-radius: 20px;
    width: 500px;
}
